#This is the configration file for OnAccessVT monitor component
#If you want to enable recursive mode(subfolders of specified folders will be monitored) set it to true
recursive = false
#Below here you can put the list of folders you want monitor(one per line, like the example), be sure they exists and are folders not file
/home/example1
/home/example2
